* {
    margin: 0;
    padding:0;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn__container {
    padding:10px;
}

.switch__button, .save__button {
    margin: 1%;
    width: 8%;
    padding: 8px 0;
    border:0;
    border-radius: 20px;
    transition: 1s ease all;
    color:white;
    font-weight: 700;
    background-color: rgba(12, 151, 243, 0.904);
}

.switch__button:hover, .save__button:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.switch__button:focus,.save__button:focus {
    outline: none;
}